body {
	background: #f5f5f5;
	font-family: 'Montserrat', sans-serif;
}

.header {
	margin: 30px 0;
}

.header-text {
	align-self: center;
	margin-top: 15px;
	text-align: right;
}

.hero-img {
	margin-top: 15px;
	width: 100%;
}

.featured {
	margin-top: 30px;
}

.featured-item {
	margin-bottom: 30px;
	margin-top: 15px;
	text-align: center;
}

.featured-hdr {
	margin-top: 15px;
}

@media screen and (max-width: 767.98px) {
	.container {
		text-align: center;
	}

	.header-text {
		text-align: center;
	}
}