/* Global Styles */

body {
	background: #f5f5f5;
	font-family: 'Montserrat', sans-serif;
}

a {
	color: #3AAA64;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

a:hover {
	text-decoration: underline;
	color: #2d844e;
}

a:focus {
	text-decoration: none;
}

/* End Global Styles */

.header {
	margin: 30px 0;
}

.header-text {
	align-self: center;
	margin-top: 15px;
	text-align: right;
}

.hero-img {
	margin-top: 15px;
	width: 100%;
}

.hero a:hover, .featured-item a:hover {
	-webkit-opacity: 0.7;
	-moz-opacity: 0.7;
	opacity: 0.7;
}

.featured {
	margin-top: 30px;
}

.featured-item {
	margin-bottom: 30px;
	margin-top: 15px;
	text-align: center;
}

.featured-hdr, .hero-hdr {
	margin-top: 15px;
}

.featured-img, .hero-img {
    border: 1px solid #dae3e7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 767.98px) {
	.container {
		text-align: center;
	}

	.header-text {
		text-align: center;
	}
}